<!--

  @File Name                 : admin/pages/_page_part_form_field.html.erb
  @Company Name              : Mindfire Solutions Private Limited
  @Creator Name              : Vikram Kumar Mishra
  @Date Created              : 2012-06-07
  @Date Modified             : 2012-06-14
  @Last Modification Details : 'mcms-' removed from css selectors
  @Purpose                   : To display page part form fields.

-->

<% page = arrange_page_part(@page) unless @page.nil? %>

<div id="page-part-fields-<%= part_index %>" class='page-part-fields'>

    <%= f.hidden_field :title, :value => "#{title}", :name => "page[page_parts_attributes][#{part_index}][title]" %>

    <%= f.hidden_field :id,
                       :name => "page[page_parts_attributes][#{part_index}][id]" unless controller.action_name != "add_page_part" %>

    <% if @page.nil? %>

      <%= f.cktext_area :body,
                        :input_html => {:name => "page[page_parts_attributes][#{part_index}][body]",
                                        :id => "page_page_parts_attributes_#{part_index}_body"},
                        :toolbar => 'Full', :width => 900, :height => 400 %>

    <% else %>

      <%= f.cktext_area :body,
                        :input_html => { :value => "#{page[title].body}", :name => "page[page_parts_attributes][#{part_index}][body]",
                                         :id => "page_page_parts_attributes_#{part_index}_body"},
                        :toolbar => 'Full', :width => 900, :height => 400
      %>

    <% end %>

    <% unless title == "main body" %>

      OR

      <%= link_to "Choose Existing #{title}",
                {:controller=>"pages", :action => 'add_page_part', :title => "#{title}", :index => "#{part_index}"},
                :remote => true, :id => "create-page-part-page-link-#{part_index}", :class => "create-page-part-page-link"
      %>

    <% end %>

</div>

